.App {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas:
        "team1 scoreboard team2"
        "team1 minimap team2"
        "team1 timeline team2";
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    justify-items: stretch;
    align-items: stretch;
}

.App > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* TODO properties other that 'grid-area' should live in their own CSS file and be loaded by their corresponding Component */

.scoreboard {
    grid-area: scoreboard;
    background-color: lightgray;
}

.minimap {
    grid-area: minimap;
    background-color: black;
    color: white;
}

.team-1 {
    grid-area: team1;
    background-color: blue;
}

.team-2 {
    grid-area: team2;
    background-color: orange;
}

.timeline {
    grid-area: timeline;
    background-color: cyan;
}
